.homepage {
  text-align: center;
  margin-top: 12rem;
  padding: 0 5rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 6rem;
}
h1 span {
  color: #e44560;
}

.description {
  font-size: 1.7rem;
  /* margin-top: 3rem; */
  color: #eee;
}

.description span {
  color: #e44560;
  font-weight: bold;
  font-size: 110%;
}

form {
  max-width: 90rem;
  margin: 3rem auto 7rem auto;
  display: flex;
}
.input {
  padding: 2rem 2.5rem;
  width: 80%;
  font-size: 1.7rem;
  border: none;
  outline: none;
}
.button {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 20%;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background: #e44560;
  outline: none;
  overflow: hidden;
  border: none;
  color: #eee;
  position: relative;
}

button:hover > span {
  top: 0;
  visibility: visible;
  opacity: 1;
}

button:hover > div {
  top: -100%;
  visibility: hidden;
  opacity: 0;
}
button div {
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}
button span {
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

button span i {
  font-size: 3rem;
}

.shortUrl {
  background-color: #e44560;
  border-radius: 30rem;
  padding: 1.5rem 1rem;
  color: #fff;
  max-width: 50rem;
  margin: 2rem auto 3rem auto;
  font-size: 1.8rem;
  position: relative;
}

.shortUrl span {
  z-index: 2;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 2.6rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.shortUrl span:hover {
  transform: translateY(-2rem);
}

footer {
  position: fixed;
  bottom: 2.5rem;
}

@media screen and (max-width: 900px) {
  .input {
    width: 75%;
  }
  .button {
    width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .homepage {
    margin-top: 8rem;
  }
  form {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  h1 {
    margin-bottom: 4rem;
  }
  .input {
    width: 70%;
  }
  .button {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    margin-top: 5rem;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .input {
    width: 100%;
  }
  .button {
    width: 100%;
    padding: 3rem 0;
    /* margin-top: 2rem; */
  }
  .shortUrl {
    text-align: left;
    font-size: 1.5rem;
    padding-left: 3rem;
    overflow: scroll;
  }
}
@media screen and (max-width: 430px) {
  h1 {
    font-size: 5rem;
  }
  .shortUrl {
    padding-left: 1rem;
    overflow: scroll;
  }
  .shortUrl span {
    right: 1.5rem;
  }
}
